{% extends 'base.html.twig' %}

{% block title %}Mon panier | {{ parent() }}{% endblock %}

{% block content %}
    <div class="cart row">
        <h1>Mon panier</h1>
        <p>C'est dans cette page que vous allez pouvoir gérer votre panier.</p>
        <hr>

        {% if cart|length == 0 %}
            <h6>Désole, vous n'avez de Produit dans votre panier . Cliquer  <a href="{{path('products')}}">ici </a> pour en ajouter</h6>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = null %}
                    {% for product in cart %}
                        
                        <tr>
                            <th scope="row">
                                <img src="/uploads/{{product.product.illustration}}" height="40px"  alt="{{product.product.illustration}}">
                            </th>
                            <td>{{product.product.name}}</td>
                            <td> <small>{{product.product.subtitle }}</small></td>
                            <td>
                                <a href="{{path('decrease_to_cart',{id : product.product.id})}}">
                                    <img src="{{asset('assets/img/remove.png')}}" class="" height="25px" alt="Rétirer une quantité à son produit">
                                </a>
                                X {{product.quantity}}
                                <a href="{{path('add_to_cart', {id: product.product.id})}}">
                                    <img src="{{asset('assets/img/add.png')}}" alt="Ajouter une quantié" height="20px">
                                </a>
                            </td>
                            <td>{{(product.product.price / 100)|number_format(2, ',','.')}} $</td>
                            <td>{{((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} $</td>
                            <td>
                                <a href="{{path('delete_to_cart',{id: product.product.id})}}">
                                    <img src="{{asset('assets/img/delete.png')}}" alt="Supprimer un produit" height="25px">
                                </a>
                            <td</td>


                        </tr>
                        {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <b>Nombre de produit :</b> {{cart|length}} <br>
                <b>Total de mon panier :</b> {{(total / 100)|number_format(2, ',', '.')}} $
            </div>
            <a href="{{path('order')}}" class="btn mt-3 btn-success btn-block">Valider mon panier </a>

        {% endif %}

    </div>

{% endblock %}
