{% extends 'base.html.twig' %}

{% block title %}Mon Produit - {{ parent() }} {% endblock %}

{% block content %}

<div class="row mb-5 product-show">

    {% for product in products %}

        <div class="col-md-4">
            <div class="product-show text-center" >
                <h3 class="mt-4">{{product.name }}</h3>
                <img src="/uploads/{{product.illustration}}" alt="{{product.illustration}}" class="img-fluid">
            </div>
        </div>
        <div class="col-md-8 mt-4">   
            <h5>{{product.name}}</h5> 
            <span class="product-subtitle">{{product.subtitle}}</span>
            <span class="product-price">{{(product.price / 100)|number_format(2, ',','.')}} $</span>
            <hr>
            <p>{{product.content|raw}}</p>
            <a href="{{path('add_to_cart',{id: product.id})}}" class="btn btn-block btn-info">Ajouter au pannier</a>  
        </div>
    {% endfor %}
</div>


{% endblock %}
