{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - {{ parent() }}{% endblock %}

{% block content %}
    <div class="order mt-5">
        <h2>Mon Répicatulatif . </h2>
        <p>Vérifier vos informations avant de payer votre commande.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <strong>Mon transporteur</strong> <br>
                {{carrier.name}} <br>
                {{carrier.description|raw}} <br>
                {{carrier.price|number_format(2, ',', '.')}}
                <hr>
                
                <strong>Mon adresse de livraion</strong> <br>
                
                {{delivery|raw}}

                
            </div>

            <div class="col-md-6 ">
                <h6>Recap de ma commande </h6>
                    {% set total = null %}
                    {% for key,product in cart %}
                        <div class="row">
                            <div class="col-2">
                                 <img src="/uploads/{{product.product.illustration}}" height="40px"  alt="{{product.product.illustration}}">
                            </div>
                            <div class="col-8 my-auto mt-2">
                                {{product.product.name}} <br>
                                <small>{{product.product.subtitle }} <br>  X {{product.quantity}}</small>
                            </div>
                            <div class="col-2 my-auto mt-2">
                                {{((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} $
                            </div>
                        </div> 
                        {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}
                <hr>
                <strong>Sous total : </strong> {{(total / 100)|number_format(2, ',', '.')}} $ <br>
                <strong>Livraison  : </strong>  {{(carrier.price)|number_format(2, ',', '.')}} $
                <hr>
                <strong>Total : </strong> {{((total / 100) + carrier.price)|number_format(2, ',', '.')}} $
            </div>
            <a href="#" class="btn btn-block btn-success mt-3 "> Payer | {{((total / 100) + carrier.price)|number_format(2, ',', '.')}} $ </a>
        </div>
    </div>
{% endblock %}
